<!-- templates/index.html -->
<html>
  <head>
    <link rel="stylesheet" href="../static/index.css">
    <script src="https://kit.fontawesome.com/3cb62acee8.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../static/checkbox.js"></script>
    <script>
      function startTime() {
        const today = new Date();
        let h = today.getHours();
        let m = today.getMinutes();
        let s = today.getSeconds();
        m = checkTime(m);
        s = checkTime(s);
        document.getElementById('clock').innerHTML =  h + ":" + m + ":" + s;
        setTimeout(startTime, 1000);
      }

      function checkTime(i) {
        if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
        return i;
      }
    </script>
  </head>
  <body onload="startTime();">

    <div class="clock_container">
      <div id="clock"></div>
    </div>
    
    <div class="header_container">
      <div class="header_content">
        <h1>Raspberry PI Alarm</h1>
      </div>
    </div>    

    <div class="flash_container">
      <div class="flash_content">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages  %}
                <p><strong>{{message}}</strong></p><br>
            {% endfor %}
        {% endif %}
        {% endwith %}
      </div>
    </div>
    
    <div class="forms_container">
      <div class="forms_content">
        <div class="openBtn">
          <button class="openButton" onclick="openForm()"><strong>Enter New Alarm</strong></button>
        </div>
        <div class="loginPopup">
          <div class="formPopup" id="popupForm">
            <form method="POST" action="/process_time" class="formContainer">
              <!--START OF FORM-->
              <h2>Enter New Alarm</h2>
              <!--Time Prompt-->
              <label for="time_prompt">
                <strong>Time</strong>
              </label>
              <br><input type="time" id="time_prompt" name="time_prompt" required>
              <!--Playback Time-->
              <br><label for="playback_time">
                <strong>Playback Time</strong>
              </label>
              <br><input type="number"  min="1" id="playback_time"  name="playback_time" value={{defaults_dict.PlayTime}}>
              <!--Alarm Sound-->
              <br><label for="alarm_sound">
                <strong>Alarm Sound</strong>
              </label>
              <br>
              <select name="alarm_sound" id="AlarmSound">
                <option value="{{defaults_dict.AlarmSound}}">{{ defaults_dict["AlarmSound"] }}</option>
                {% for x in alarm_sounds %}
                  {% if x != defaults_dict["AlarmSound"] %}}
                    <option value={{x}}>{{x}}</option>
                  {% endif %}
                {% endfor %}
              </select>
              <!--Input Type-->
              <br><label for="which_input">
                <strong>Input Type</strong>
              </label>
              <br>
              <select name="which_input" id="which_input">
                {% if defaults_dict["Input"] == "Timer" %}
                  <option value="Timer">Timer</option>
                  <option value="Button">Button</option>
                  <option value="Sensor">Sensor</option>
                {% elif defaults_dict["Input"] == "Button" %}
                  <option value="Button">Button</option>
                  <option value="Sensor">Sensor</option> 
                  <option value="Timer">Timer</option>
                {% elif defaults_dict["Input"] == "Sensor" %}  
                  <option value="Sensor">Sensor</option>           
                  <option value="Timer">Timer</option>
                  <option value="Button">Button</option> 
                {% endif %}
              </select>
              <!--Submit-->
              <br><button type="submit" class="btn">Add</button>
              <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
            </form>
          </div>
        </div>        

        <form method="POST" action="/update_alarms">
          <br>
          <ul class="checkbox_grid">
            {% for x in alarms_list %}
              <!--Container for Switches-->
                <div class="switch_container">
                  <p name="time_in_switch_box">{{x.time}}</p>
                  {% if x.input == "Timer" %}
                    <i class="fa-solid fa-bell"></i>
                  {% elif x.input == "Button" %}
                    <i class="fa-solid fa-toggle-off"></i>
                  {% elif x.input == "Sensor" %}
                    <i class="fa-solid fa-person-rays"></i>
                  {% endif %}
                  <div class="switch_box">
                    <label class="switch">
                      {% if x.time in alarms_selcted %}
                      <input type="checkbox" name="slider_box" onclick="myFunction()" value={{x.time}} checked>
                      {% else %}
                      <input type="checkbox" name="slider_box" onclick="myFunction()" value={{x.time}}>
                      {% endif %}
                      <span class="slider"></span>
                    </label>
                  </div>
                </div>              
            {% endfor %}
          </ul>
          <ul>
            <br><br><br><br><br><br><br><br>
          </ul> 
        </form>
        
        <form method="POST" action="/removeablealarms">
          <br>
          <input type="submit" value = "Remove Alarms"/>
        </form>
        
        <form method="POST" action="/timer_process">
          <br>
          <input type="submit" value = "Add {{defaults_dict.Nap}}min Alarm"/>
        </form>

        <form method="POST" action="/settings">
          <br>
          <input type="submit" value = "Settings"/>
        </form>

      </div>
    </div>

    <div class="footer_container">
      <div class="footer_content">

      </div>
    </div>

  </form>
  <!--script> src="../static/clock.js" </script>-->
  <script>
    function openForm() {
      document.getElementById("popupForm").style.display = "block";
    }
    function closeForm() {
      document.getElementById("popupForm").style.display = "none";
    }
  </script>
  </body>
</html>
