<!-- templates/index.html -->
<html>
  <head>
    <link rel="stylesheet" href="../static/index.css">
  </head>
  <body>

    <div class="header_container">
      <div class="header_content">
        <h1>Raspberry PI Alarm</h1>
      </div>
    </div>

    <div class="flash_container">
      <div class="flash_content">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages  %}
                <p><strong>{{message}}</strong></p><br>
            {% endfor %}
        {% endif %}
        {% endwith %}
      </div>
    </div>
    
    <div class="forms_container">
      <div class="forms_content">
        <!--RIGHT HERE-->
        <div class="openBtn">
          <button class="openButton" onclick="openForm()"><strong>Enter New Alarm</strong></button>
        </div>
        <div class="loginPopup">
          <div class="formPopup" id="popupForm">
            <form method="POST" action="/process_time" class="formContainer">
              <h2>Enter New Alarm</h2>
              <label for="time_prompt">
                <strong>Time</strong>
              </label>
              <br><input type="time" id="time_prompt" name="time_prompt" required>
              <br><label for="playback_time">
                <strong>Playback Time</strong>
              </label>
              <br><input type="number" id="playback_time" placeholder="Enter Integer" name="playback_time">
              <!--<br><label for="enable_button">
                <strong>Enable Button</strong>
              </label>
              <br><input type="radio" id="enable_button" name="enable_button">-->
              <br><button type="submit" class="btn">Add</button>
              <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
            </form>
          </div>
        </div>

        <!--
        <form method="POST" action="/process_time">
          <input type ="time" name="time_box">
          <br>
          <input type="submit" value="Enter New Alarm">
        </form>-->
        

        <form method="POST" action="/update_alarms">
          <br>
          <ul class="checkbox_grid">
            {% for x in alarms_list %}
              {% if x.time in alarms_selcted  %}
                <li><input type="checkbox" name="checkbox" value={{x}} checked /><label for="text1">{{x.time}}</label></li>
              {% else %}
                <li><input type="checkbox" name="checkboxN" value={{x}} /><label for="text1">{{x.time}}</label></li>
              {% endif %} 
              {% endfor %}
          </ul>
          <ul>
            <br><br><br><br><br><br><br><br>
          </ul> 
          <input type="submit" value = "Update Alarms"/>
        </form>
        
        <form method="POST" action="/removeablealarms">
          <br>
          <input type="submit" value = "Remove Alarms"/>
        </form>

      </div>
    </div>

    <div class="footer_container">
      <div class="footer_content">

      </div>
    </div>

  </form>
  <!--script> src="../static/clock.js" </script>-->
  <script>
    function openForm() {
      document.getElementById("popupForm").style.display = "block";
    }
    function closeForm() {
      document.getElementById("popupForm").style.display = "none";
    }
  </script>
  </body>
</html>
