<!-- templates/index.html -->
<html>
  <head>
    <link rel="stylesheet" href="../static/index.css">
    <script type="text/javascript" src="../static/clock.js"></script>
    <script type="text/javascript" src="../static/checkbox.js"></script>
  </head>
  <body onload="startTime();">

    <div class="clock_container">
      <div id="clock"></div>
    </div>
    
    <div class="header_container">
      <div class="header_content">
        <h1>Raspberry PI Alarm</h1>
      </div>
    </div>

    <div class="flash_container">
      <div class="flash_content">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages  %}
                <p><strong>{{message}}</strong></p><br>
            {% endfor %}
        {% endif %}
        {% endwith %}
      </div>
    </div>
    
    <div class="forms_container">
      <div class="forms_content">
        <div class="openBtn">
          <button class="openButton" onclick="openForm()"><strong>Enter New Alarm</strong></button>
        </div>
        <div class="loginPopup">
          <div class="formPopup" id="popupForm">
            <form method="POST" action="/process_time" class="formContainer">
              <!--START OF FORM-->
              <h2>Enter New Alarm</h2>
              <!--Time Prompt-->
              <label for="time_prompt">
                <strong>Time</strong>
              </label>
              <br><input type="time" id="time_prompt" name="time_prompt" required>
              <!--Playback Time-->
              <br><label for="playback_time">
                <strong>Playback Time</strong>
              </label>
              <br><input type="number"  min="1" id="playback_time"  name="playback_time" value={{defaults_dict.PlayTime}}>
              <!--Alarm Sound-->
              <br><label for="alarm_sound">
                <strong>Alarm Sound</strong>
              </label>
              <br>
              <select name="alarm_sound" id="AlarmSound">
                <option value="placeholder">{{ defaults_dict["AlarmSound"] }}</option>
                {% for x in alarm_sounds %}
                  {% if x != defaults_dict["AlarmSound"] %}}
                    <option value={{x}}>{{x}}</option>
                  {% endif %}
                {% endfor %}
              </select>
              <!--Enable Button-->
              <br><label for="enable_button">
                <strong>Button</strong>
              </label>
              <br>
              <select name="enable_button" id="enable_button">
                {% if defaults_dict["Button"] == "Enable" %}
                  <option value="Enable">Enable</option>
                  <option value="Disable">Disable</option>
                {% else %}
                  <option value="Disable">Disable</option>  
                  <option value="Enable">Enable</option>
                {% endif %}
              </select>
              <!--Submit-->
              <br><button type="submit" class="btn">Add</button>
              <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
            </form>
          </div>
        </div>        

        <form method="POST" action="/update_alarms">
          <br>
          <ul class="checkbox_grid">
            {% for x in alarms_list %}
              {% if x.time in alarms_selcted  %}
                <div class="switch_container">
                  <p name="time_in_switch_box">{{x.time}}</p>
                  <div class="switch_box">
                    <label class="switch">
                      <input type="checkbox" name="slider_box" onclick="myFunction()" value={{x.time}} >
                      <span class="slider"></span>
                    </label>
                  </div>
                </div>
                <!--<li><input type="checkbox" name="checkbox" value={{x}} checked /><label for="text1">{{x.time}}</label></li>-->
              {% else %}
              <div class="switch_container">
                <p name="time_in_switch_box">{{x.time}}</p>
                <div class="switch_box">
                  <label class="switch">
                    <input type="checkbox" name="slider_box" onclick="myFunction()" value={{x.time}} >
                    <span class="slider"></span>
                  </label>
                </div>
              </div>
                <!--<li><input type="checkbox" name="checkboxN" value={{x}} /><label for="text1">{{x.time}}</label></li>-->
              {% endif %} 
            {% endfor %}
          </ul>
          <ul>
            <br><br><br><br><br><br><br><br>
          </ul> 
          <input type="submit" value = "Update Alarms"/>
        </form>
        
        <form method="POST" action="/removeablealarms">
          <br>
          <input type="submit" value = "Remove Alarms"/>
        </form>
        
        <form method="POST" action="/timer_process">
          <br>
          <input type="submit" value = "Add {{defaults_dict.Nap}}min Alarm"/>
        </form>

        <form method="POST" action="/settings">
          <br>
          <input type="submit" value = "Settings"/>
        </form>

      </div>
    </div>

    <div class="footer_container">
      <div class="footer_content">

      </div>
    </div>

  </form>
  <!--script> src="../static/clock.js" </script>-->
  <script>
    function openForm() {
      document.getElementById("popupForm").style.display = "block";
    }
    function closeForm() {
      document.getElementById("popupForm").style.display = "none";
    }
  </script>
  </body>
</html>
