<!-- templates/index.html -->
<html>
  <head>
    <link rel="stylesheet" href="../static/index.css">
    <script src="https://kit.fontawesome.com/3cb62acee8.js" crossorigin="anonymous"></script>
  </head>
  <body>

    <div class="header_container">
      <div class="header_content">
        <h1>Raspberry PI Alarm</h1>
      </div>
    </div>

    <div class="checkbox_container">
      <div class="checkbox_content">
        

        <form method="POST" action="/remove_alarms">
          <ul class="checkbox_grid">
            {% for x in alarms_list %}
              <!--Container for Switches-->
                <div class="switch_container">
                  <p name="time_in_switch_box">{{x.time}}</p>
                  {% if x.input == "Timer" %}
                    <i class="fa-solid fa-bell"></i>
                  {% elif x.input == "Button" %}
                    <i class="fa-solid fa-toggle-off"></i>
                  {% elif x.input == "Sensor" %}
                    <i class="fa-solid fa-person-rays"></i>
                  {% endif %}
                  <div class="switch_box">
                    <label class="switch">
                      <input type="checkbox" name="slider_box" value={{x.time}}>
                      <span class="slider"></span>
                    </label>
                  </div>
                </div>              
            {% endfor %}
          </ul>
          <ul>
            <br><br><br><br><br><br><br><br>
          </ul> 
          <input type="submit" value = "Submit"/>
        </form>

        <form methods="POST" action="/">
          <input type="submit" value = "Back"/>
        </form>

      </div>
    </div>

  </body>
</html>


