<!-- templates/index.html -->
<html>
  <head>
    <link rel="stylesheet" href="../static/index.css">
  </head>
  <body>

    <div class="header_container">
      <div class="header_content">
        <h1>Raspberry PI Alarm</h1>
      </div>
    </div>

    <p>Settings to add: Nap timer, form defaults</p>

    <div class="forms_container">
      <div class="froms_content">
        <form method="POST" action="/update_settings" class="formContainer">
            <input type="submit" value="Update Settings">
        </form>
      </div>
    </div>

  </body>
</html>


