body{
    background-color: black;
    color: white;
}

p {
    color: white;
}

/*
HEADER
*/
.header_container {
    /*border: 5px solid #FFFFFF;*/
    height: 75px;
    width: 97vw;
    position: relative;
    margin-bottom: 25px;
}

.header_content {
    position: relative;
    text-align:center;
}

/*
FLASH CONTAINER
*/
.flash_container {
    /*border: 1px solid #FFFFFF;*/
    height: 8vh;
    width: 97vw;
    position: relative;    
    /*float:right;*/
    margin-bottom: 10px;
}

.flash_content {
    text-align: left;
    position: relative;    
}

.flash_content p {
    font-size: 20px;
}


/*
FORMS CONTAINER
*/
.forms_container {
  /*border: 5px solid #FFFFFF;*/
  min-height: 55vh;
  width: 97vw;
  position: relative;
  margin-bottom: 5px;
}

.forms_content {
    position: relative;
    text-align:center;
}

.checkbox_grid div{
    display: block;
    float: left;
}

/*
FOOTER
*/
.footer_container {
    /*border: 5px solid #FFFFFF;*/
    height: 8vh;
    width: 97vw;
    position: relative;    
    /*float:right;*/
    margin-bottom: 5px;
}

.footer_content {
    text-align: left;
    position: relative;    
}

/*
Settings Form
*/
.settings_form_container { 
  height: 100vh;
  width: 97vw;
  position: relative;
  margin-bottom: 5px;
}

.settings_form_content {
  position: relative;
  text-align:center;
}

/*
FORM STUFF
*/
* {
    box-sizing: border-box;
  }
  .openBtn {
    position: relative;
    margin-bottom: -40px;
  }
  .openButton {
    border: none;
    border-radius: 5px;
    background-color: #4d5255;
    color: white;
    padding: 14px 20px;
    cursor: pointer;
    /*position: fixed;*/
    position: relative;
  }
  .loginPopup {
    position: relative;
    text-align: center;
    width: 100%;
  }
  .formPopup {
    display: none;
    position: fixed;
    left: 50%;
    top: 5%;
    transform: translate(-50%, 5%);
    border: none; /*3px solid #999999;*/
    z-index: 9;
  }
  .formContainer {
    max-width: 300px;
      padding: 20px;
      background-color: #fff;
      color: black;
  }

  .formContainer input[type=text],
  .formContainer input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 20px 0;
    border: none;
    background: #eee;
  }
  .formContainer input[type=text]:focus,
  .formContainer input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  .formContainer .btn {
    padding: 12px 20px;
    border: none;
    background-color: #8ebf42;
    color: #fff;
    cursor: pointer;
    width: 40%;
    margin-top: 25px;
    margin-bottom: 15px;
    opacity: 0.8;
  }
  .formContainer .cancel {
    background-color: #cc0000;
  }
  .formContainer .btn:hover,
  .openButton:hover {
    opacity: 1;
  }


/*
Clock Div
*/
.clock_container{
  font-size: 20px;
  color: #32cd32;
  position: fixed;
  top: 20;
  right: 20;
}

/*
Switch
*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.switch_box {
  width: 130px;
  height: 40px;
  /*border: 2px solid #FFFFFF;*/
  margin: 5px 5px 5px 5px;
  text-align: left;
}

.switch_box p{
  left: 100px;
  bottom: 20px;
  position: relative;
}

.switch_container p {
  /*border: 2px solid #FFFFFF;*/
  width: 40px;
  height: 20px;
  left: 95px;
  top: 41px;
  bottom: 0px;
  position: relative;
}

.switch_container i {
  /*border: 2px solid #FFFFFF;*/
  width: 20px;
  height: 20px;
  right: 25px;
  top: 25px;
  position: relative;
}

/*
Button Container
*/
.buttons_container{
  /*border: 2px solid #FFFFFF;*/
  clear: both; 
  margin-top: 20px;
  height: 20vh;
  width: 97vw;
  text-align: center;
}

.buttons_container form{
  display: inline;
}
.buttons{
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #4d5255;
  color: white;
  padding: 14px 20px;
  margin: 20px;
  width: 200px;
  height: 40px;
  font-weight: bold;
}



/*
Volume Slider
*/
.volume_container {
  /*border: 2px solid #FFFFFF;*/
  text-align: center;
  margin-top: -30px;
  width: 100%; /* Width of the outside container */
}

.slider_volume:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.slider_volume {
  width: 200px;
}