body{
    background-color: black;
    color: white;
}

p {
    color: white;
}

/*
HEADER
*/
.header_container {
    /*border: 5px solid #FFFFFF;*/
    height: 75px;
    width: 97vw;
    position: relative;
    margin-bottom: 25px;
}

.header_content {
    position: relative;
    text-align:center;
}

/*
FLASH CONTAINER
*/
.flash_container {
    /*border: 1px solid #FFFFFF;*/
    height: 8vh;
    width: 97vw;
    position: relative;    
    /*float:right;*/
    margin-bottom: 10px;
}

.flash_content {
    text-align: left;
    position: relative;    
}

.flash_content p {
    font-size: 20px;
}


/*
FORMS CONTAINER
*/
.forms_container {
    /*border: 5px solid #FFFFFF;*/
    height: 100vh;
    width: 97vw;
    position: relative;
    margin-bottom: 5px;
}

.forms_content {
    position: relative;
    text-align:center;
}

.checkbox_grid li{
    display: block;
    float: left;
    width: 25%;
}

/*
FOOTER
*/
.footer_container {
    /*border: 5px solid #FFFFFF;*/
    height: 8vh;
    width: 97vw;
    position: relative;    
    /*float:right;*/
    margin-bottom: 5px;
}

.footer_content {
    text-align: left;
    position: relative;    
}

