body{
    background-color: black;
    color: white;
}

p{
    color: white;
}

.center{
    border: 5px solid #FFFFFF;
    text-align: center;
}

.checkbox_grid li{
    display: block;
    float: left;
    width: 25%;
}